Source: libdebian-installer
Section: libs
Priority: optional
Maintainer: David Kimdon <dwhedon@debian.org>
Build-Depends: debhelper, d-shlibs (>= 0.3)
Standards-Version: 3.1.1

Package: libdebian-installer1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands.  If you aren't
 working on debian-installer or building your own install system based
 on debian-installer, then you probably don't need this library.

Package: libdebian-installer1-dev
Section: devel
Architecture: any
Depends: libdebian-installer1 (= ${Source-Version}), ${devlibs:Depends}
Conflicts: libdebian-installer-dev
Provides: libdebian-installer-dev
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands. If you aren't
 working on debian-installer or building your own install system based
 on debian-installer, then you probably don't need this library.
 .
 This package contains files needed to do libdebian-installer development.

Package: libdebian-installer-pic
Section: devel
Architecture: any
Depends: libdebian-installer1-dev (= ${Source-Version})
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands. If you aren't
 working on debian-installer or building your own install system based
 on debian-installer, then you probably don't need this library.
 .
 libdebian-installer-pic is a library suitable for library reduction.
