Source: srm-reader
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Alastair McKinstry <mckinstry@computer.org>
Build-Depends-Indep: debhelper (>= 4.1.13), po-debconf (>= 0.5.0)
Standards-Version: 3.5.8

Package: srm-reader
Architecture: alpha
Depends: cdebconf-udeb, languagechooser
XB-Installer-Menu-Item: 5
Description: Read SRM variables to get defaults
 This udeb reads SRM (console) variables to get default values for 
 language, etc. to be used.
