Source: kdetect
Section: debian-installer 
Priority: optional
Maintainer: Glenn McGrath <bug1@optushome.com.au>
Build-Depends: debhelper (>> 2.0.0)
Standards-Version: 3.2.1

Package: libkdetect-dev
Architecture: any 
Depends: libkdetect0 
Description: Detect hardware known to the kernel (headers only)  
 libkdetects scans various files in /proc and provides functions to access
 this information. It makes no attempt to recognise hardware that isnt currently
 known to the linux kernel.
 Work in progress, currently only attempts to handle storage devices

Package: libkdetect0
Architecture: any 
Depends: ${shlibs:Depends}
Description: Detect hardware known to the linux kernel 
 libkdetects scans various files in /proc and provides functions to access
 this information. It makes no attempt to recognise hardware that isnt currently known to the linux kernel.
 Work in progress, currently only attempts to handle storage devices  
   
