Source: bterm-unifont
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Alastair McKinstry <mckinstry@debian.org>
Build-Depends-Indep: debhelper (>= 4.1.13), bf-utf-source, libbogl-dev
Standards-Version: 3.6.0

Package: bterm-unifont
Architecture: all
Depends: bterm-bogl
Description: Include complete Unicode font for bogl-bterm
 This udeb will replace the reduced font /unifont.bgf with a complete font.
