Source: kernel-chooser
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>
Build-Depends-Indep: debhelper (>= 4.1.16), po-debconf (>= 0.5.0)
Standards-Version: 3.5.6

Package: kernel-chooser
Architecture: any
Depends: dash-udeb, cdebconf-udeb, base-installer
XB-Installer-Menu-Item: 66
Description: Choose which kernel to install
 The information is passed on to kernel-installer which will install the
 kernel.
