<HTML lang=en><HEAD><TITLE>Debian GNU/Linux -- Debian-Installer translation status in unstable/SVN</TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<BODY text=#000000 vLink=#800080 aLink=#ff0000 link=#0000ff bgColor=#ffffff>
<TABLE cellSpacing=0 cellPadding=3 width="100%" align=center summary="" 
border=0>
  <TBODY>
  <TR>
    <TD vAlign=center align=left><A href="http://www.debian.org/"><IMG 
      height=61 alt="" hspace=0 
      src="http://www.debian.org/logos/openlogo-nd-50.png" width=50 border=0></A> 
      <A href="http://www.debian.org/" rel=start><IMG height=61 
      alt="Debian Project" hspace=0 src="http://www.debian.org/Pics/debian.jpg" 
      width=179 border=0></A> </TD>
    <TD vAlign=center align=right>
      <TABLE summary="">
        <TBODY>
        <TR>
	<TD align=middle>
	<h1><!-- something here?? --></h1>
	</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE><!--UdmComment-->
<TABLE cellSpacing=0 cellPadding=0 width="100%" bgColor=#df0451 summary="" 
border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=16 alt="" hspace=0 
    src="http://www.debian.org/Pics/red-upperleft.png" width=15 align=left 
      border=0> </TD>
    <TD align=middle rowSpan=2><A 
      href="http://www.debian.org/intro/about"><IMG height=18 alt="About Debian" 
      hspace=4 src="http://www.debian.org/Pics/about.en.gif" width=58 
      align=middle vspace=7 border=0></A> <A 
      href="http://www.debian.org/News/"><IMG height=18 alt=News hspace=4 
      src="http://www.debian.org/Pics//news.en.gif" width=53 align=middle 
      vspace=7 border=0></A> <A href="http://www.debian.org/distrib/"><IMG 
      height=18 alt="Getting Debian" hspace=4 
      src="http://www.debian.org/Pics/getting.en.gif" width=117 align=middle 
      vspace=7 border=0></A> <A href="http://www.debian.org/support"><IMG 
      height=18 alt=Support hspace=4 
      src="http://www.debian.org/Pics/support.en.gif" width=72 align=middle 
      vspace=7 border=0></A> <A href="http://www.debian.org/devel/"><IMG 
      height=18 alt="Developers'&nbsp;Corner" hspace=4 
      src="http://www.debian.org/Pics/devel.en.gif" width=105 align=middle 
      vspace=7 border=0></A> <A href="http://www.debian.org/sitemap" 
      rel=contents><IMG height=18 alt="Site map" hspace=4 
      src="http://www.debian.org/Pics/sitemap.en.gif" width=76 align=middle 
      vspace=7 border=0></A> <A href="http://search.debian.org/"><IMG height=18 
      alt=Search hspace=4 src="http://www.debian.org/Pics/search.en.gif" 
      width=64 align=middle vspace=7 border=0></A> </TD>
    <TD vAlign=top><IMG height=16 alt="" hspace=0 
      src="http://www.debian.org/Pics/red-upperright.png" width=16 align=right 
      border=0> </TD></TR>
  <TR>
    <TD vAlign=bottom><IMG height=16 alt="" hspace=0 
      src="http://www.debian.org/Pics/red-lowerleft.png" width=16 align=left 
      border=0> </TD>
    <TD vAlign=bottom><IMG height=16 alt="" hspace=0 
      src="http://www.debian.org/Pics/red-lowerright.png" width=15 align=right 
      border=0> </TD></TR></TBODY></TABLE><!--/UdmComment-->
      
      
<!-- BODY -->
<H1>Translation status of Debian Installer in unstable/SVN</H1>
<p><em>This is still experimental work after <a
href="http://lists.debian.org/debian-i18n/2006/06/msg00147.html">proposals to reorganize
levels</a></em>. The official status pages are <a
href="http://people.debian.org/~seppy/d-i/translation-status.html">here</a>.
<P>This page exists to give you an overview about the new installer's 
translation status.
<br>The Debian-installer exists of packages maintained by the installer-team 
in SVN (level1) and other packages that show up during the installation process. 
These &quot;other&quot; packages are in level 2 to 5. (see <a href="#levels">below</a>).
<br>
This page gathers information for the version of packages in <em>unstable</em>
of in the various packages revision control systems.
<br>
For information about the status of packages in <em>testing</em>, see <a
href="translation-status-testing.html">this page</a>.
</P>

<!--
<H1>News</H1>
<ul>
<li>date: blabla</li>
</ul>
-->


<H1>Current status</H1>
<table width="100%" border=0>
	<tr>
	    <td align="left" ><b><a href="http://people.debian.org/~bubulle/d-i/level1/">level1</a></b></td>
	    <td align="left" ><b><a href="http://people.debian.org/~bubulle/d-i/level2/">level2</a></b></td>
	    <td align="left" ><b><a href="http://people.debian.org/~bubulle/d-i/level3/">level3</a></b></td>
	    <td align="left" width="25%"><b><a href="http://people.debian.org/~bubulle/d-i/level4/">level4</a></b></td>
	    <td align="left" width="25%"><b><a href="http://people.debian.org/~bubulle/d-i/level5/">level5</a></b></td></tr>
	<tr><td width="20%"><pre>
<L1>
</pre></td>
<td width="20%"><pre>
<L2>
</pre></td><td width="20%"><pre>
<L3>
</pre></td><td width="20%"><pre>
<L4>
</pre></td><td width="20%"><pre>
<L5>
</pre></td></tr>
</table>
This means, that the whole installation process (when not choosing additional packages to install) is translated <TOTAL>%. (English is not listed above. We don't count en as "language" because English does not aim to reach 100% "translation". The original strings are English - so no translation needed.)

<P>
You can find detailed informations about your language here:
<blockquote>
<table width="100%">
  <tr><td>d-i aka level1</td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level1/">status</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level1/POT/">templates</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level1/packages-list">packages-list</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level1/master/">Master file and templates</a></td>
      <td><a href="http://d-i.alioth.debian.org/spellcheck/">Spellcheck</a></td>
	  <td>every 2h</td></tr>
     
  <tr><td>level2</td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level2/">status</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level2/POT/">templates</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level2/packages-list">packages-list</a></td>
      <td></td>
      <td><a href="http://d-i.alioth.debian.org/spellcheck/">Spellcheck</a></td>
      <td>every 3h</td></tr>


  <tr><td>level3</td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level3/">status</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level3/POT/">templates</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level3/packages-list">packages-list</a></td>
      <td></td>
      <td><a href="http://d-i.alioth.debian.org/spellcheck/">Spellcheck</a></td>
      <td>every 3h</td></tr>


  <tr><td>level4</td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level4/">status</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level4/POT/">templates</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level4/packages-list">packages-list</a></td>
      <td></td>
      <td><a href="http://d-i.alioth.debian.org/spellcheck/">Spellcheck</a></td>
      <td>every 3h</td></tr>

  <tr><td>level5</td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level5/">status</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level5/POT/">templates</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/level5/packages-list">packages-list</a></td>
      <td></td>
      <td><a href="http://d-i.alioth.debian.org/spellcheck/">Spellcheck</a></td>
      <td>every 3h</td></tr>

      
<!--
  <tr><td>udebs from unst.</a></td>
      <td><a href="http://people.debian.org/~bubulle/d-i/udebs/">status</a></td>
      <td>no templates</td>
      <td><a href="http://people.debian.org/~bubulle/d-i/udebs/packages-list">packages-list</a></td>
      <td>every 24h</td></tr>  -->

<!--  <tr><td colspan=6>You can find graphs of each language at <a href="http://people.debian.org/~bubulle/d-i/graphs/">http://people.debian.org/~bubulle/d-i/graphs/</a>.</td></tr>
-->
</table>
</blockquote>
</P>
</P>
<p>This link gives details about packages for which an upload is due because
translation have been updated since the latest release in the archive:</p>
<ul>
<li><a href="http://people.debian.org/~joeyh/d-i/translations.txt">http://people.debian.org/~joeyh/d-i/translations.txt</a>. Updated hourly.</li>
</ul>




<!--
<a name="manual"></a><h1>Debian Installation Guide statistics</h1>
<p>
<a href="http://d-i.alioth.debian.org/manual/#tr-stats">The Installation
Guide translation  statistics
have been moved here.</a>
</p>

-->

<!--

<H1>Statistics</H1>
<P>
Running since 4th of September 2004.
<br>You can find graphs of each language at <a href="http://people.debian.org/~bubulle/d-i/graphs/">http://people.debian.org/~bubulle/d-i/graphs/</a>.</P>
<P>level 1 - 5 and average of all: (drops to 0% are because breaks of SVN/CVS or the scripts)<br>
<img src="http://people.debian.org/~bubulle/d-i/translation-status.png" width="640" height="480" alt=""></P>


<P>
Graph from 2004-03-12 to 2004-09-04. Since 2004-09-04 we use levels. See graph above.
<br>You can find graphs of each language at <a href="http://people.debian.org/~bubulle/d-i/graphs_stages/">http://people.debian.org/~bubulle/d-i/graphs_stages/</a>.</P>
<P>1st-, 2nd-, 3rd-stage and average of all:<br>
<img src="http://people.debian.org/~bubulle/d-i/2004-03-12_to_2004-09-04.stages.png" width="640" height="480" alt=""></P>

</P>

-->

<H1>Resources</H1>
<ul>
  <li><a href="http://www.debian.org/devel/debian-installer/">Debian Installer homepage</a>
  <li>Debian Installer i18n documentation (<a
href="http://people.debian.org/~bubulle/d-i/i18n-doc">HTML version</a>, <a
href="http://people.debian.org/~bubulle/d-i/i18n-doc/i18n.en.pdf">PDF version</a>, <a
href="http://people.debian.org/~bubulle/d-i/i18n-doc/i18n.en.txt">TXT version</a>)
<!-- Old documentation
  <li><a href="http://people.debian.org/~bubulle/d-i/d-i-i18n-documentation/">D-I internationalisation and localisation documentation</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/d-i-i18n-documentation/">D-I internationalisation and localisation documentation (mirror)</a></li>
-->  
  <li><a
href="http://people.debian.org/~bubulle/d-i/i18n-doc/languages.html">Supported
and soon supported languages list</a>. Includes stats about the percentage
of the world population who can install Debian in their native language</li>
  <li><a href="http://people.debian.org/~bubulle/d-i/checkouts.html">Collected commandline checkouts of d-i related SVN/CVS repros.</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/level1/">Translation level 1</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/level2/">Translation level 2</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/level3/">Translation level 3</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/level4/">Translation level 4</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/level5/">Translation level 5</a></li>

  <li><a href="http://people.debian.org/~bubulle/d-i/quick-overview.txt">Quick translation overview</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/quick-overview-prospective.txt">Quick translation overview of <b>*prospective*</b> languages</a></li>
  <li><a href="http://d-i.alioth.debian.org/spellcheck/">Spellcheck of master files</a></li>
  <li><a href="http://people.debian.org/~bubulle/d-i/i18n-doc/languages.html">World population coverage</a></li>


</ul>
</p>
<!-- /BODY -->


<HR width="100%" noShade SIZE=1>
Back to the <A href="http://www.debian.org/">Debian Project homepage</A>. 
<HR width="100%" noShade SIZE=1>

This page is content of bubulle's public_html. Last changed: <DATE> UTC / hourly
</BODY></HTML>
