Source: linux-kernel-di
Section: devel
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Joey Hess <joeyh@debian.org>, Herbert Xu <herbert@debian.org>
Build-Depends: debhelper (>= 4), kernel-image-2.4.22-1-386, kernel-pcmcia-modules-2.4.22-1-386

Package: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Depends: modutils-basic | modutils-full
Description: Linux kernel binary image for the Debian installer
 This package contains the Linux kernel image version 2.4.22-1-386,
 for the Debian installer boot images. It does _not_ provide a usable
 kernel for your full Debian system.

Package: nic-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, isa-pnp-modules-2.4.22-1-386-di, nic-shared-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: standard
Description: Common NIC drivers
 This package contains common NIC drivers for the Linux kernel.

Package: nic-extra-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, nic-shared-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Rare NIC drivers
 This package contains rare NIC drivers for the Linux kernel.

Package: nic-shared-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Shared NIC drivers
 This package contains NIC drivers needed by both nic-modules and
 nic-extra-modules.

Package: serial-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, pcmcia-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: Serial drivers
 This package contains serial drivers for the Linux kernel.

Package: ppp-modules-2.4.22-1-386-di
Depends: serial-modules-2.4.22-1-386-di, kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: PPP drivers
 This package contains PPP drivers for the Linux kernel.

Package: isa-pnp-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: standard
Description: isa-pnp drivers
 This package contains isa-pnp drivers for the Linux kernel.

Package: socket-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Socket drivers
 This package contains the packet socket driver, used by dhcp and other
 things that need raw network device access.  It also contains the UNIX
 domain socket driver.

Package: ide-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: standard
Depends: ide-core-modules-2.4.22-1-386-di
Description: IDE drivers
 This package contains IDE drivers for the Linux kernel.

Package: ide-core-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: standard
Description: IDE drivers
 This package contains core IDE drivers for the Linux kernel.

Package: cdrom-modules-2.4.22-1-386-di
Depends: ide-modules-2.4.22-1-386-di, kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: Esoteric CDROM drivers
 This package contains esoteric CDROM drivers for the Linux kernel.

Package: firewire-core-modules-2.4.22-1-386-di
Depends: scsi-core-modules-2.4.22-1-386-di, kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: Core FireWire drivers
 This package contains core FireWire drivers for the Linux kernel.

Package: scsi-core-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: Core SCSI subsystem
 This package contains the core SCSI subsystem for the Linux kernel.

Package: scsi-modules-2.4.22-1-386-di
Depends: isa-pnp-modules-2.4.22-1-386-di, kernel-image-2.4.22-1-386-di, scsi-core-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: SCSI drivers
 This package contains SCSI drivers for the Linux kernel.

Package: scsi-extra-modules-2.4.22-1-386-di
Depends: scsi-modules-2.4.22-1-386-di, scsi-core-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: Uncommon SCSI drivers
 This package contains uncommon SCSI drivers for the Linux kernel.
 This includes SCSI RAID drivers.

Package: plip-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, parport-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: PLIP drivers
 This package contains PLIP drivers for the Linux kernel.

Package: floppy-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: optional
Description: Floppy driver
 This package contains the floppy driver for the Linux kernel.

Package: ipv6-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: IPv6 driver
 This package contains the IPv6 driver for the Linux kernel.

Package: ext3-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: EXT3 filesystem support
 This package contains the EXT3 filesystem module for the Linux kernel.

Package: reiserfs-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Reiser filesystem support
 This package contains the Reiser filesystem module for the Linux kernel.

Package: fat-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: FAT filesystem support
 This package contains the FAT and VFAT filesystem modules for the Linux kernel.

Package: md-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: RAID and LVM support
 This package contains RAID and LVM modules for the Linux kernel.

Package: usb-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: USB support
 This package contains core USB drivers for the Linux kernel.

Package: usb-storage-modules-2.4.22-1-386-di
Depends: ide-core-modules-2.4.22-1-386-di, scsi-core-modules-2.4.22-1-386-di, usb-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: USB storage support
 This package contains the USB storage driver for the Linux kernel.

Package: brltty-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, usb-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Braille support
 This package contains Braille drivers for the Linux kernel.

Package: fb-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Frame buffer support
 This package contains Frame buffer drivers for the Linux kernel.

Package: input-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, usb-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Input devices support
 This package contains input device drivers for the Linux kernel.

Package: irda-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, ppp-modules-2.4.22-1-386-di, usb-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Infrared devices support
 This package contains infrared device drivers for the Linux kernel.

Package: parport-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: extra
Description: Parallel port support
 This package contains parallel port drivers for the Linux kernel.

Package: nic-pcmcia-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, nic-shared-modules-2.4.22-1-386-di, pcmcia-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: standard
Description: Common PCMCIA NIC drivers
 This package contains common PCMCIA NIC drivers for the Linux kernel.

Package: pcmcia-modules-2.4.22-1-386-di
Depends: kernel-image-2.4.22-1-386-di, isa-pnp-modules-2.4.22-1-386-di
Architecture: i386
Section: debian-installer
Priority: standard
Description: Common PCMCIA drivers
 This package contains common PCMCIA drivers for the Linux kernel.
