#!/usr/bin/make -f

debian/control: gen-control debian/control.stub package-list kernel-versions
	rm -f `find modules -type l`
	./make-links
	./gen-control > debian/control

build: debian/control
	./make-links
	dh_testdir

clean: debian/control
	dh_testdir
	dh_clean `find modules -type l`

binary-indep:

binary-arch: debian/control
	dh_testdir
	dh_clean -k
	
	./install-files

	dh_fixperms -s
	dh_gencontrol -s
	dh_builddeb -s

binary: build binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
