Source: s390-dasd
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Tollef Fog Heen <tfheen@debian.org>, Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>= 4.1.13), po-debconf (>= 0.5.0), libdebconf1-dev | libcdebconf-dev, libdebian-installer-dev
Standards-Version: 3.5.8

Package: s390-dasd
Architecture: s390 s390x
Depends: ${shlibs:Depends}, cdebconf-udeb, s390-tools-udeb
XB-Installer-Menu-Item: 37
Description: Configure DASD
 Configure DASD, s390 specific harddisks. 
