Source: selectdevice
Section: debian-installer 
Priority: optional
Maintainer: Glenn McGrath <bug1@optushome.com.au>
Build-Depends: debhelper (>> 2.0.0), dpkg-dev (>= 1.7.0), cdebconf-dev, libkdetect-dev
Standards-Version: 3.2.1

Package: selectdevice
Architecture: any
Depends: cdebconf-udeb, libc6, libkdetect0
XBC-Installer-Menu-Item: 2
Description: Select storage device 
 Integrates with main-menu to allow a device to be selected prior to an
 operation being performaed on it. (e.g. partitioning)
