Source: floppy-retriever
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Martin Sjogren <sjogren@debian.org>
Build-Depends-Indep: debhelper (>= 4.1.16), dpkg-dev (>= 1.7.0), po-debconf (>= 0.5.0)
Standards-Version: 3.5.8

Package: floppy-retriever
Architecture: all
Depends: cdebconf-udeb
Provides: retriever
Description: Fetch modules from a floppy
