Source: autopartkit
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>
Build-Depends: debhelper (>= 4.1.13), dpkg-dev (>= 1.7.0), libdebconfclient-dev, libparted1.6-dev | libparted-dev, po-debconf (>= 0.5.0)
Standards-Version: 3.5.8

Package: autopartkit
Architecture: any
Depends: libc-udeb, e2fsprogs-udeb, libparted1.6-udeb, cdebconf-udeb, hw-detect-full
Provides: mounted-partitions, made-filesystems, partitioned-harddrives
XB-Installer-Menu-Item: 50
Description: Automatically Partition Hard Drives (unsafe)
 This module will automatically partition the harddrive on which you wish
 to install Debian GNU/Linux. It will keep any existing partition and use
 the free space available. If there is no space it will try to resize
 FAT partition (but it'll leave around 25% free space in each FAT
 partition).
 .
 At the present time is uses only libparted and is therefore limited to
 architecture supported by libparted.
 .
 autopartkit is a minimal package used by debian-installer.
