#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


PACKAGE=autopartkit
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
FILENAME=$(PACKAGE)_$(VERSION)_$(ARCH).udeb
PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)


# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir

	./configure --prefix=/usr --sysconfdir=/etc --enable-small

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f debian/autopartkit.postinst

	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs etc/autopartkit usr/bin
	$(MAKE) install DESTDIR=`pwd`/debian/autopartkit
	strip --remove-section=.note --remove-section=.comment `pwd`/debian/autopartkit/usr/bin/autopartkit


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install autopartkit
autopartkit:
	dh_testdir
	dh_testroot
	dh_installdebconf
#	cp debian/menutest debian/autopartkit/DEBIAN/menutest	
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb 
	dh_shlibdeps
	dh_gencontrol -- -fdebian/files~
	dpkg-distaddfile $(FILENAME) debian-installer $(PRIORITY)
	dh_md5sums
	dh_builddeb --filename=$(FILENAME)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure autopartkit
