Package: srm-reader
Version: 0.01
Section: debian-installer
Priority: optional
Architecture: all
Depends: cdebconf-udeb, languagechooser
Installed-Size: 32
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Description: Read SRM variables to get defaults
 This udeb reads SRM (console) variables to get default values for
 language, etc. to be used.
installer-menu-item: 5
