Source: cdrom-checker
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Thorsten Sauter <tsauter@gmx.net>
Build-Depends-Indep: debhelper (>= 4.1.16), po-debconf (>= 0.5.0)
Standards-Version: 3.5.8

Package: cdrom-checker
Architecture: all
Depends: cdrom-detect, cdebconf (>= 0.31)
XB-installer-menu-item: 94
Description: Verify the cd contents
 Use this module to verify the current installation cdrom.

