Source: file-retriever
Section: debian-installer
Priority: standard
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0)
Standards-Version: 3.5.2.0

Package: file-retriever
Architecture: all
Depends: ${shlibs:Depends}
Provides: retriever
Description: File retriever
 This is a dummy retriever module that just symlinks files around. Sorta
 like apt's file:/ method, it might be useful for cdrom's or something but
 is mainly just a demo.
