Source: ppcdetect
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Thorsten Sauter <tsauter@debian.org>
Build-Depends: debhelper (>= 4.1.16), po-debconf (>= 0.5.0)
Standards-Version: 3.6.1

Package: ppcdetect
Architecture: powerpc
Description: PowerPC flavour detect
 This module detects the different PowerPC flavours

