Source: languagechooser
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0), libcdebconf1-dev | libcdebconf-dev, dpkg-dev (>= 1.9)
Standards-Version: 3.5.8

Package: languagechooser
Architecture: any
XB-Installer-Menu-Item: 25
Description: Choose language
 This package provides a language chooser for the Debian installer.
XBC-Description-no: Velg språk
 Denne pakken tilbyr en språkvelger for Debians installasjonssystem.
