Source: yaboot-installer
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Colin Walters <walters@debian.org> 
Build-Depends-Indep: debhelper (>= 4.1.13), po-debconf (>= 0.5.0)
Standards-Version: 3.5.6

Package: yaboot-installer
Architecture: powerpc
Provides: bootable-system
Depends: cdebconf-udeb, base-installer, chroot
XB-Installer-Menu-Item: 2
Description: Install yaboot on a hard disk
 This package will install yaboot on the hard disk.
