Source: yaboot-installer
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Thorsten Sauter <tsauter@debian.org>
Build-Depends: debhelper (>= 4.1.13), po-debconf (>= 0.5.0), libdebian-installer3-dev, libdebconfclient0-dev, libparted1.6-dev
Standards-Version: 3.5.9

Package: yaboot-installer
Architecture: powerpc
Provides: bootable-system
Depends: cdebconf-udeb, kernel-installer, chroot, parted-udeb
XB-Installer-Menu-Item: 73
Description: Install yaboot on a hard disk
 This package will install yaboot on the hard disk.
