#!/usr/bin/make -f
# -*- coding: utf-8 -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
# Copyright © 2002 Colin Walters <walters@debian.org>

#export DH_VERBOSE=1

export DH_COMPAT=4

PACKAGE=yaboot-installer
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
FILENAME=$(PACKAGE)_$(VERSION)_$(ARCH).udeb
PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)

CFLAGS='-Wall -Os'

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	STRIP += ''
endif

build: build-stamp
build-stamp:
	dh_testdir

	$(MAKE) CFLAGS="$(CFLAGS)" STRIP="$(STRIP)"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	rm -f build-stamp
	rm -f debian/files~
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	dh_installdirs

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdeb 
	cp choose-yaboot-disk debian/yaboot-installer/usr/sbin
	cp powerpc-type debian/yaboot-installer/usr/sbin
	cp debian/isinstallable debian/yaboot-installer/DEBIAN/
	dh_gencontrol -- -fdebian/files~
	dpkg-distaddfile $(FILENAME) debian-installer $(PRIORITY)
	dh_builddeb --filename=$(FILENAME)

binary-indep: build install


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
