Source: cdebconf
Section: debian-installer
Priority: standard
Maintainer: Randolph Chung <tausq@debian.org>
Standards-Version: 3.1.1

Package: cdebconf
Architecture: any
Depends: ${shlibs:Depends}
Provides: debconf
Replaces: debconf
Description: Debian Configuration Management System (C-implementation)
 Debconf is a configuration management system for Debian packages. It is
 used by some packages to prompt you for information before they are
 installed.
