Source: libd-i
Section: debian-installer
Priority: optional
Maintainer: David Whedon <dwhedon@debian.org>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0)
Standards-Version: 3.1.1

Package: libd-i
Architecture: any
Depends: ${shlibs:Depends},
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands.

Package: libd-i-dev
Architecture: any
Depends: ${shlibs:Depends}, libd-i
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands.
 .
 This package contains files needed to do libd-i development.
