Source: libd-i
Section: libs
Priority: optional
Maintainer: David Whedon <dwhedon@debian.org>
Build-Depends: debhelper
Standards-Version: 3.1.1

Package: libd-i
Architecture: any
Depends: ${shlibs:Depends}
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands.

Package: libd-i-dev
Architecture: any
Depends: libd-i
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands.
 .
 This package contains files needed to do libd-i development.

Package: libd-i-pic
Architecture: any
Depends: libd-i-dev
Description: Library of common debian-installer functions.
 This library is used by debian-installer to perform common functions
 such as logging messages and executing commands.
 .
 libd-i-pic is a library suitabel for library reduction.
