Source: lmod-detect-pci
Section: admin
Priority: optional
Maintainer: Glenn McGrath <bug1@debian.org>
Build-Depends: debhelper (>> 3.0.0), pciutils-dev
Standards-Version: 3.5.2

Package: lmod-detect-pci
Architecture: alpha arm hppa i386 ia64 m68k mips mipsel powerpc s390 sh sparc
Depends: ${shlibs:Depends}
Description: Detect linux kernel modules to match your PCI hardware
 Linux (a.ka. the kernel) module detection for PCI devices.
 This program scans your PCI bus (using libpci) and compares the results
 with its inbuilt tables of each modules suported vendor and device ids.
 Currently it knows about 120 PCI modules.
