#!/usr/bin/make -f

PACKAGE=usb-discover

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

binary-arch:

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdirs usr/lib/usb-discover usr/sbin lib/debian-installer.d
	install -m0644 S45usb-linux debian/$(PACKAGE)/lib/debian-installer.d
	install -m0644 ohci-pci.lst debian/$(PACKAGE)/usr/lib/usb-discover
	install -m0644 uhci-pci.lst debian/$(PACKAGE)/usr/lib/usb-discover
	install -m0755 usb-discover debian/$(PACKAGE)/usr/sbin
	dh_installdebconf
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary: build install binary-indep
