Source: baseconfig-udeb
Section: debian-installer
Priority: standard
Maintainer: Petter Reinholdtsen <pere@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.2), dpkg-dev (>= 1.9)
Standards-Version: 3.5.4.0

Package: baseconfig-udeb
Architecture: any
Depends: cdebconf-udeb
XB-Installer-Menu-Item: 85
Description: Run base-config from within debian-installer
 This runs base-config in a chroot environment before the host is rebooted
 from hard disk.
