Source: lvmcfg
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Thorsten Sauter <tsauter@debian.org>
Build-Depends-Indep: debhelper (>= 4.1.16), po-debconf (>= 0.5.0)
Standards-Version: 3.6.0

Package: lvmcfg
Architecture: all
Depends: cdebconf-udeb, lvm10-udeb (>= 1:1.0.7-3), partconf-find-partitions, parted-udeb, partitioned-harddrives
XB-installer-menu-item: 44
Description: Configure the Logical Volume Manager
 Use this module to configure the Logical Volume Manager (LVM).

