Source: partkit
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: David Kimdon <dwhedon@debian.org>, Tollef Fog Heen <tfheen@debian.org
Build-Depends: debhelper (>= 4.1.13), dpkg-dev (>= 1.7.0), libcdebconf-dev, libparted1.6-dev, po-debconf (>= 0.5.0)
Standards-Version: 3.1.1

Package: partkit
Architecture: any
Depends: ${shlibs:Depends}, cdebconf-udeb
Provides: partitioned-harddrives
XB-Installer-Menu-Item: 2
Description: Partition Hard Drives
 This module can be used to create, delete, move, resize or in other ways modify partitions.
 At the present time is uses only libparted and is therefore limited to archetecture supported
 by libparted (i386 only?).
 .
 partkit is a minimal package used by debian-installer.
