Source: partman-lvm
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Anton Zinoviev <zinoviev@debian.org>
Build-Depends: debhelper (>= 4.1.13), po-debconf (>= 0.5.0)
Standards-Version: 3.5.6

Package: partman-lvm
Architecture: all
Depends: lvmcfg, lvm10-udeb
Description: Add to partman support for LVM
 This package allows partman to create physical volumes for LVM.  It
 also allows to invoke the postinst of lvmcfg from partman.

