Source: parted-tiny
Section: debian-installer
Priority: optional
Maintainer: David Whedon <dwhedon@gordian.com>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0), cdebconf-dev
Standards-Version: 3.1.1

Package: parted-tiny
Architecture: any
Depends: ${shlibs:Depends}, cdebconf-udeb, libfdisk-udeb
Provides: partitioned-harddrives
XBC-Installer-Menu-Item: 2
Description: Partition Hard Drives
 In order to install the system you need to partition the machine's hard drives.

