Source: partconf
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Martin Sjogren <sjogren@debian.org>
Build-Depends: debhelper (>> 4.0.0), libdebconf1-dev, libparted1.6-dev | libparted-dev, po-debconf (>= 0.5.3)
Standards-Version: 3.5.9

Package: partconf
Architecture: any
Depends: ${shlibs:Depends}, partitioned-harddrives
Provides: made-filesystems, made-swapspace, mounted-partitions
XB-Installer-Menu-Item: 45
Description: Configure and Mount Partitions
 FIXME

Package: partconf-find-partitions
Architecture: any
Depends: ${shlibs:Depends}
Description: debian-installer utility for finding partitions
 FIXME
