#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Udebs have no postrm file, don't make one
export DH_OPTIONS=-n

PACKAGES=$(shell dh_listpackages)
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
#FILENAME=$(PACKAGE)_$(VERSION)_$(ARCH).udeb
PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)

build: build-stamp
build-stamp:
	dh_testdir
ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	$(MAKE) small
else
	$(MAKE) DEBUG=1
endif
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) clean
	dh_clean
	-for p in $(PACKAGES); do \
	    rm -f debian/$$p.postinst; \
	done

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -m755 -d debian/partconf/var/lib/partconf/fstab.d \
			 debian/partconf-find-partitions/usr/lib/partconf \
			 debian/partconf-mkfstab/usr/lib/partconf \
			 debian/partconf-mkfstab/var/lib/partconf/fstab.d
	install -m755 partconf debian/partconf.postinst
	install -m755 find-partitions debian/partconf-find-partitions/usr/lib/partconf
	#install -m755 mkfstab debian/partconf-mkfstab/usr/lib/partconf
	install -m755 mkfstab debian/partconf-mkfstab.postinst
	install -m644 fstab-common \
		debian/partconf-mkfstab/var/lib/partconf/fstab.d/common

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -- -fdebian/files~
	for p in $(PACKAGES); do \
	    FILENAME=$${p}_$(VERSION)_$(ARCH).udeb; \
	    dpkg-distaddfile $$FILENAME debian-installer $(PRIORITY); \
	    dh_builddeb -p$${p} --filename=$$FILENAME; \
	done

binary: binary-arch
.PHONY: build clean binary-arch binary install
