Source: pcidetect
Section: admin 
Priority: optional
Maintainer: Glenn McGrath <bug1@optushome.com.au>
Build-Depends: debhelper, pciutils-dev
Standards-Version: 3.1.1

Package: pcidetect
Architecture: any
Depends: ${shlibs:Depends}
Description: Determine kernel modules required to support hardware
 pcidetect links statically with libpci to scan for all pci device and vendor id's, it then compares these id's with an internal table to determine what kenrel modules are needed to support each pci device. 
