Source: kernel-splitter
Section: debian-installer
Priority: extra
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 2.2.15), dpkg-dev (>= 1.7.0)
Standards-Version: 3.2.1.0

Package: nic-modules-#KVERS#
Depends: kernel-image-#KVERS#
Architecture: all
Provides: 3c501.o, 3c503.o, 3c505.o, 3c507.o, 3c509.o, 3c515.o, 3c59x.o, 8139too.o, 82596.o, eepro.o, eepro100.o, lance.o, ne.o, ne2k-pci.o, pcnet32.o, tulip.o
Description: Common NIC drivers
 This package contains common NIC drivers for the linux kernel.

Package: serial-modules-#KVERS#
Depends: kernel-image-#KVERS#
Architecture: all
Provides: generic_serial.o, serial_cs.o, serial_cb.o
Description: Serial drivers
 This package contains serial drivers for the linux kernel.

Package: ppp-modules-#KVERS#
Depends: serial-modules-#KVERS#, kernel-image-#KVERS#
Architecture: all
Provides: ppp.*.o
Description: PPP drivers
 This package contains PPP drivers for the linux kernel.
