Source: kernel-splitter
Section: debian-installer
Priority: extra
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 2.2.15), dpkg-dev (>= 1.7.0)
Standards-Version: 3.2.1.0

Package: nic-modules-#KVERS#
Architecture: all
Provides: eepro100.o, tulip.o, tulip_cb.o, eepro100_cb.o
Description: Common NIC drivers
 This package contains common NIC drivers for the linux kernel.

Package: serial-modules-#KVERS#
Architecture: all
Provides: serial.o, serial_cs.o, serial_cb.o
Description: Serial drivers
 This package contains serial drivers for the linux kernel.

Package: ppp-modules-#KVERS#
Architecture: all
Depends: serial-modules-#KVERS#
Provides: pppoe.o, ppp_async.o, ppp_deflate.o, ppp_generic.o, pppox.o
Description: PPP drivers
 This package contains PPP drivers for the linux kernel.
