#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=2

PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
KVERS=$(shell dpkg --info debs/kernel-image-* |grep Package: | cut -d ' ' -f 3 | sed 's/kernel-image-//' )

# Ensure there is exactly one kernel-image-*.deb in debs/
# Make sure you depend on this if you use KVERS.
check_kernel_image:
	@if [ `ls -1 debs/kernel-image-2.* 2>/dev/null |wc -l` != 1 ]; then \
		echo Exactly one kernel image must be available. I found: >&2; \
		ls -1 debs/kernel-image-2.* >&2; \
		exit 1; \
	fi

build: check_kernel_image
	# unpack all available deb files into unpacked/
	install -d unpacked
	for file in `find debs/ -maxdepth 1 -name '*.deb'`; do \
		dpkg-deb -x $$file unpacked/; \
	done

clean:
	dh_testdir
	dh_testroot
	rm -rf unpacked
	DH_CONTROL=debian/control.out dh_clean debian/control.out || dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	# Actually installs all the modules into place, and
	# generates debian/control.out.
	./copy-modules $(KVERS)

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
# Make debhelper use this processed control file.
export DH_CONTROL=
binary-arch: DH_CONTROL=debian/control.out
binary-arch: build install
	dh_testversion 2.2.15
	dh_testdir
	dh_testroot
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	# Don't write your stupid guesses to debian/files.
	dh_gencontrol -- -fdebian/files~
	# Register udebs manually and build udebs.
	for package in `dh_listpackages`; do \
		dpkg-distaddfile $${package}_$(VERSION)_$(ARCH).udeb \
			debian-installer $(PRIORITY); \
		dh_builddeb --package=$${package} \
			--filename=$${package}_$(VERSION)_$(ARCH).udeb; \
	done

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
