#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Build the standalone version
	NETWORK_BASE_URL=http://cdn.debian.net/debian dh_auto_build
	mv win32-loader.exe win32-loader-standalone.exe
	# Build the cdrom version
	dh_auto_build

override_dh_auto_clean:
	dh_auto_clean
	rm -f win32-loader-standalone.exe
