Source: cdrom-retriever
Section: debian-installer
Priority: standard
Maintainer: Raphael Hertzog <hertzog@debian.org>
Build-Depends-Indep: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0)
Standards-Version: 3.5.2

Package: cdrom-retriever
Architecture: all
Depends: ${shlibs:Depends}, cdrom-detect
Provides: retriever
Description: CDROM retriever
 This is a retriever module that just symlinks files around since
 the CDROM is supposed to be mounted on /cdrom. 
