Source: partman-ext3
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Anton Zinoviev <zinoviev@debian.org>
Build-Depends: debhelper (>= 4.1.13), po-debconf (>= 0.5.0)
Standards-Version: 3.5.6

Package: partman-ext3
Architecture: all
Depends: e2fsprogs-udeb, ext3-modules-2.4.22-1-386-di
Provides: partman-filesystem
Description: Add to partman support for ext3
 This file system can be detected, resized, copied and checked by parted.
 However we need to use mkfs.ext3 to create it.  Hence we have no 
 progress bars for creation.
