#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_COMPAT=4

PACKAGE=$(shell dh_listpackages)
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
FILENAME=$(PACKAGE)_$(VERSION)_$(ARCH).udeb
PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)

e3mount: e3mount.c
	$(CC) -Wall -Os -D_GNU_SOURCE e3mount.c -o e3mount

build: build-stamp
build-stamp: e3mount
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -f `find . -name '*~'`
	rm -f e3mount
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install e3mount bin
	strip --remove-section=.note --remove-section=.comment `pwd`/debian/${PACKAGE}/bin/e3mount
	debian/install-rc active_partition
	debian/install-rc valid_filesystems
	debian/install-rc init.d
	debian/install-rc commit.d
	debian/install-rc finish.d
	debian/install-rc mount.d
	dh_install fstab.d lib/partman
	dh_install parted_names lib/partman

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -fdebian/files~
	dpkg-distaddfile $(FILENAME) debian-installer $(PRIORITY)
	dh_builddeb --filename=$(FILENAME)

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
