#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE=rootskel
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
FILENAME=$(PACKAGE)_$(VERSION)_$(ARCH).udeb
PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)

ifeq ($(ARCH), s390)
NONVC=1
endif

# This is the debhelper compatability version to use.
export DH_COMPAT=2

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

# cvs update -P will remove these dirs if they are empty
DIRS=dev proc var/log mnt floppy usr/lib/prebaseconfig.d

install: build
	dh_testdir
	dh_testroot
	mkdir -p debian/rootskel/
	cp -a src/* debian/rootskel/
ifdef NONVC
	mv debian/rootskel/etc/inittab-nonvc debian/rootskel/etc/inittab
else
	rm debian/rootskel/etc/inittab-nonvc
endif
	find debian/rootskel -depth -type d -path "*CVS*" -exec rm -rf {} \;
	$(foreach DIR, $(DIRS), \
	(mkdir -p debian/rootskel/$(DIR) ) ; )

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -fdebian/files~ 
	dpkg-distaddfile $(FILENAME) debian-installer $(PRIORITY) 
	dh_builddeb --filename=$(FILENAME)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
