Source: disk-detect
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Tollef Fog Heen <tfheen@debian.org>, Petter Reinholdtsen <pere@debian.org>
Build-Depends-Indep: debhelper (>= 4.1.13), dpkg-dev (>= 1.7.0), po-debconf (>= 0.5.0)
Standards-Version: 3.5.8

Package: disk-detect
Architecture: all
Depends: cdebconf-udeb (>= 0.31), modutils-basic | modutils-full, discover-udeb, discover-data-udeb
XB-Installer-Menu-Item: 35
Description: Detect HW and load kernel modules for them
 This udeb detects HW devices by using discover, and tries to load
 kernel modules to support them.
 .
 It is used by debian-installer
