Source: anna
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Joey Hess <joeyh@debian.org>, Tollef Fog Heen <tfheen@debian.org>, Martin Sjogren <sjogren@debian.org>
Build-Depends: debhelper (>= 4.1.16), dpkg-dev (>= 1.7.0), libdebconf1-dev (>= 0.30), libdebian-installer3-dev (>= 0.10)
Build-Conflicts: libdebconf0.3-dev (<< 0.24)
Standards-Version: 3.5.6.1

Package: anna
Architecture: any
XB-Installer-Menu-Item: 25
Depends: ${shlibs:Depends}, retriever
Description: Load installer modules
 anna's not nearly apt, but for the Debian installer, it will do.
