Source: anna
Section: debian-installer
Priority: standard
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (1.7.0)
Standards-Version: 3.2.1.0

Package: anna
Architecture: any
XBC-Installer-Menu-Item: 1
Depends: ${shlibs:Depends}, retriever
Description: Finish setting up the Debian installer
 anna's not nearly apt, but for the Debian installer, it will do.
