#!/bin/sh -e

echo PROGRESS START 0 100 progress/title
read ans

for i in 10 9 8 7 6 5 4 3 2 1; do
    echo SUBST progress/step i $i
    read ans
    echo PROGRESS INFO progress/step
    read ans
    sleep 1
    echo PROGRESS STEP 10
    read ans
done
sleep 1

echo PROGRESS STOP
read ans
echo STOP
sleep 1
exit 0
