#!/bin/sh -e

askquestion()
{
	question=$1
	priority=$2
	echo INPUT $priority $question
	read ans
	#echo $ans >&2
	echo GO
	read ans
	#echo $ans >&2
}

for t in boolean multiselect note password select string text; do
#for t in boolean multiselect note password select string text; do
	askquestion "test/$t" low
done

echo STOP
exit 0
