Source: ddetect
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: David Kimdon <dwhedon@debian.org>, Tollef Fog Heen <tfheen@debian.org>
Build-Depends: debhelper (>=2.1.18), libdiscover-dev, dpkg-dev (>= 1.9.0), libcdebconf-dev, libdebian-installer-dev, discover-data, python
Standards-Version: 3.1.1

Package: ethdetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: ethernet-card-detection
XBC-Installer-Menu-Item: 2
Description: Configure Network Hardware
 If you have an ethernet card in the computer I may be able to autodetect it
 and load the proper module for it, thus bringing you closer to a working
 network.
