Source: ddetect
Section: debian-installer
Priority: optional
Maintainer: David Whedon <dwhedon@gordian.com>
Build-Depends: debhelper libdetect-dev
Standards-Version: 3.1.1

Package: ethdetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: ethernet-card-detection
XBC-Installer-Menu-Item: 2
Description: Autodetect and bring up ethernet cards
 If you have an ethernet card in the computer I may be able to autodetect it
 and load the proper module for it, thus bringing you closer to a working
 network.

