Source: ddetect
Section: debian-installer
Priority: optional
Maintainer: David Whedon <dwhedon@gordian.com>
Build-Depends: debhelper libdetect-dev
Standards-Version: 3.1.1

Package: ethdetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: ethernet-card-detection
Description: autodetection of ethernet cards
 This package detects ethernet cards.

Package: snddetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: sound-card-detection
Description: autodetection of sound cards
 This package detects sound cards.

Package: cddetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: cdrom-detection
Description: autodetection of cdrom drives
 This package detects cdrom drives.

Package: cpudetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: cpu-detection
Description: autodetection of cpu
 This package detects cpus.

Package: diskdetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: hard-disk-detection
Description: autodetection of hard disks
 This package detects hard disks.

Package: mdmdetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: modem-detection
Description: autodetection of modems
 This package detects modems.

Package: memdetect
Architecture: any
Depends: ${shlibs:Depends}
Provides: memory-detection
Description: autodetection of memory
 This package detects memory.
