#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


PACKAGES=$(shell dh_listpackages)
MENUPACKAGES=ethdetect hw-detect-full
VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)

# This is the debhelper compatability version to use.
export DH_COMPAT=2

build: build-stamp
build-stamp:
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(foreach PACKAGE,  $(PACKAGES), \
	  $(MAKE) install-$(PACKAGE) DESTDIR=`pwd`/debian/$(PACKAGE);)


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	$(foreach PACKAGE, $(MENUPACKAGES), \
	  cp debian/$(PACKAGE).menutest debian/$(PACKAGE)/DEBIAN/menutest; )
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	$(foreach PACKAGE, $(PACKAGES), \
	  ( dpkg-gencontrol -Pdebian/$(PACKAGE) -isp -p$(PACKAGE) \
	  -Tdebian/$(PACKAGE).substvars \
	  -n$(PACKAGE)_$(VERSION)_all.udeb ) ; )
	$(foreach PACKAGE, $(PACKAGES), \
	  (cd debian ; \
		dpkg-deb -b $(PACKAGE) ../../$(PACKAGE)_$(VERSION)_all.udeb \
		); )

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
