Source: debian-installer-utils
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: David Kimdon <dwhedon@debian.org>, Tollef Fog Heen <tfheen@debian.org>, Matt Kraai <kraai@debian.org>, Thorsten Sauter <tsauter@debian.org>, Bastian Blank <waldi@debian.org>, Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 4.1.13), dpkg-dev (>= 1.9.0), libdebconfclient0-dev (>= 0.46), po-debconf (>= 0.5.0), libdebian-installer-dev

Package: di-utils-shell
Architecture: any
Depends: ${shlibs:Depends}
XB-installer-menu-item: 950
Description: Execute a shell
 This module provides a menu item to run a shell in the debian installer.

Package: di-utils-reboot
Architecture: all
Depends: ${shlibs:Depends}
XB-installer-menu-item: 990
Description: Reboot
 This module provides a menu item to reboot in the debian installer.

Package: di-utils
Architecture: any
Depends: ${shlibs:Depends}
Provides: di-utils-mapdevfs
Description: Miscellaneous utilities for the debian installer.

Package: di-utils-bootfloppy
Architecture: any
Depends: ${shlibs:Depends}
Description: Utilities for the debian installer boot floppy.
