Source: debian-installer-utils
Section: debian-installer
Priority: standard
Maintainer: David Whedon <dwhedon@debian.org>
Build-Depends: debhelper (>> 2.0.0), dpkg-dev (>= 1.7.0)
Standards-Version: 3.2.1

Package: di-utils-shell
Architecture: any
Depends: ${shlibs:Depends}
XBC-installer-menu-item: 2
Description: Execute a shell
 Use this module to execute an interactive shell within debian-installer.
