Source: debian-installer-utils
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: David Kimdon <dwhedon@debian.org>, Tollef Fog Heen <tfheen@debian.org>, Matt Kraai <kraai@debian.org>
Build-Depends: debhelper (>= 4.1.13), dpkg-dev (>= 1.9.0), libcdebconf-dev, po-debconf (>= 0.5.0)
Standards-Version: 3.2.1

Package: di-utils-shell
Architecture: any
Depends: ${shlibs:Depends}
XB-installer-menu-item: 95
Description: Execute a shell
 Use this module to execute an interactive shell within debian-installer.

Package: di-utils-partitioner
Architecture: all
Provides: partitioned-harddrives
XB-installer-menu-item: 43
Description: Partition a hard drive
 Use this module to partition a hard drive from within debian-installer.

Package: di-utils-fake-partitioner
Architecture: all
Provides: partitioned-harddrives
Description: I have already partitioned the hard drive
 Use this module if you have already partitioned your hard drive.

Package: di-utils-mkfs
Architecture: all
Depends: partitioned-harddrives, e2fsprogs-udeb
Provides: made-filesystems
XB-installer-menu-item: 45
Description: Create a file system
 Use this module to mkfs the target partitions within debian-installer.

Package: di-utils-fake-mkfs
Architecture: all
Depends: partitioned-harddrives
Provides: made-filesystems
Description: I have already created file systems
 Use this module if you have already made file systems on your 
 partitions.

Package: di-utils-mount-partitions
Architecture: all
Depends: made-filesystems
Provides: mounted-partitions
XB-installer-menu-item: 55
Description: Mount a partition
 Use this module to mount the target partitions within debian-installer.

Package: di-utils-fake-mount-partitions
Architecture: all
Depends: made-filesystems
Provides: mounted-partitions
Description: I have already mounted the partitions
 Use this module if you have already mounted the partitions yourself.

