Source: udpkg
Section: debian-installer
Priority: standard
Maintainer: Randolph Chung <tausq@debian.org>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0)
Standards-Version: 3.2.1.0

Package: udpkg
Architecture: any
Depends: ${shlibs:Depends}
Description: Tiny dpkg clone
 This is a tiny dpkg clone for the Debian installer. It's not suitable for
 use on a real Debian system.
