Source: kbd-chooser
Section: debian-installer 
Priority: standard
Maintainer: Alastair McKinstry <mckinstry@computer.org>
Build-Depends: debhelper (>= 4.1.13),  libcdebconf-dev, libdebian-installer3-dev, po-debconf (>= 0.5.0)
Standards-Version: 3.5.8

Package: kbd-chooser
Architecture: any 
XB-Installer-Menu-Item: 12
Depends: ${shlibs:Depends}
Description: Detect a keyboard and select layout
 Try to auto-detect a keyboard, and select one for the user.
   
